@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {    
    font-family: 'Cabin', sans-serif !important;
    scroll-behavior: smooth;
}

.navbar {
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    margin-bottom: 50px;
}

.scrollable-content {
    overflow: auto;
    height: calc(100vh - 100px); 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.card-background-blur {
    backdrop-filter: blur(1px); /* Adjust the pixel value to control the blur intensity */
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the alpha value for transparency */
  }