@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body, html {    
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    margin-bottom: 50px;
}

.scrollable-content {
    overflow: auto;
    height: calc(100vh - 100px); 
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}